# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl

# Jupyter
.ipynb_checkpoints/

# Environments
.venv/
venv/
env/
.env
.env.*

# Editors/IDE
.vscode/
.idea/
.history/

# OS / Misc
.DS_Store
Thumbs.db
__MACOSX/
.cache/
.mypy_cache/
.pytest_cache/
.coverage

# Build
build/
dist/

# Node
node_modules/

# Streamlit local configs
.streamlit/

# Logs
*.log
